body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;


}




.no-border {
    border: 0;
    box-shadow: none;




}


.no-border:focus {
    outline: none;
    border: 0;
    box-shadow: none;
}

.no-bg{
    background:none;
}



.font-dashboard {
    font-size: 2rem;
    color: white;
}


.table-heading {
    background: #6D7ADF;
    color: white;
}

.table-row {
    background: #F8F7FF;
    font-weight: 300;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
}


    @media only screen and (max-width: 75em) {
      html {
        font-size: 75%; }
        th {
            font-size: 65%;
        }

        td {
            font-size: 65%;
        }
    }
    @media only screen and (max-width: 56.25em) {
      html {
        font-size: 70%; }
    th{
        font-size: 55%;
    }
    td {
        font-size: 55%;
    }
    }
    @media only screen and (max-width: 37.5em) {
      html {
        font-size: 70%; }
    th{
        font-size: 45%;
    }
    td {
        font-size: 45%;
    }
    }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 100%; }
        th{
            font-size: 85%;
        }
        td {
            font-size: 85%;
        }
    }

    .text-color-white {
        color:white;
    }

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.font-lato {
    font-family: 'Lato', sans-serif;
}

.nav-dropdown-bg {
    background: #03a678;

}

::-webkit-input-placeholder { /* Edge */
   font-size: 1rem;
   color: red;
   opacity: 0.5;

  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 1rem;
   color: red;
   opacity: .5;
  }

  ::placeholder {
   font-size: 1rem;
   color: red;
   opacity: 0.5;
  }

.bg-color-teal {
    background: #03a678;
}

.full-height {
    height: 100vh;

}
